* {
  padding: 0px;
  margin: 0px;
  font-family:arial, Geneva, sans-serif;
  font-size: 12px;
  vertical-align:top;
  border-collapse:collapse;
}
table {
  vertical-align: top;
}
div {
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.seite, .seite tr td {
  vertical-align: middle;
  height: 100%;
  border: 0;
  margin: 0 auto;
}
.inhalt, .inhalt tr td {
  vertical-align: top;
}
.navigation {
  width:150px;
}