* {
  padding: 0px;
  margin: 0px;
  font-family:arial, Geneva, sans-serif;
  font-size: 12px;
  vertical-align:top;
  border-collapse:collapse;
}
table {
  vertical-align: top;
}
.seite, .seite tr td {
  vertical-align: top;
  height: 100%;
  border: 0;
  margin: 0 auto;
}
.inhalt, .inhalt tr td {
  vertical-align: top;
}
.navigation {
  width:150px;
}
body {
  /* TEST FARBVERLAUF CSS *
  background-image: linear-gradient(top, #0167FF, #058EEF, #0167FF, #058EEF, #0167FF, #FFFFFF, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #0167FF, #058EEF, #0167FF, #058EEF, #0167FF, #FFFFFF, #FFFFFF);
  background-image: -moz-linear-gradient(top, #0167FF, #058EEF, #0167FF, #058EEF, #0167FF, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #0167FF, #058EEF, #0167FF, #058EEF, #0167FF, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #0167FF, #058EEF, #0167FF, #058EEF, #0167FF, #FFFFFF, #FFFFFF)
  */
  background-image:url(../image/bg.png);
  background-attachment:fixed;
  background-repeat:repeat-x;
  height: auto;
}
div {
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  padding-top: 20px;
}

.footer {
  background-image: url(../image/footer.png);
  height: 100px !important;
}
.footer_impressum {
  padding-top: 20px;
  padding-left: 570px;
}
.footer_text {
  padding-top: 45px;
  text-align:center;
  vertical-align:bottom;
}

.ui-widget-content {
  border: 0px !important;
}
.ui-tabs {
  padding: 0px !important;
}